In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import turicreate as tc
from sklearn.model_selection import train_test_split
import os
import time
import seaborn as sns
# We can override the default matplotlib styles with those of Seaborn
sns.set()## Importing the relevant libraries

In [34]:
# Load the data from a .csv
customer_data = pd.read_csv(os.path.join(os.path.pardir,'data','raw','recommend_1.csv'))
transactions_data = pd.read_csv(os.path.join(os.path.pardir,'data','raw','trx_data.csv'))

In [3]:
customer_data.head()

   customerId
0        1553
1       20400
2       19750
3        6334
4       27773

In [27]:
transactions_data

       customerId                            products
0               0                                  20
1               1      2|2|23|68|68|111|29|86|107|152
2               2           111|107|29|11|11|11|33|23
3               3                             164|227
4               5                                 2|2
5               6                      144|144|55|266
6               7                         135|206|259
7               8                           79|8|8|48
8               9                         102|2|2|297
9              10                       84|77|290|260
10             11                          25|127|127
11             12                  18|183|287|172|289
12             13                           79|8|8|38
13             14                        2|2|20|20|20
14             15                             251|143
15             16                                   2
16             17                49|49|49|279|279|279
17             18                              70|135
18             19                                48|8
19             20    20|20|20|281|281|281|287|287|287
20             21                             259|198
21             22                        29|11|44|195
22             23                        36|36|61|201
23             24                           236|236|2
24             25         1|20|18|18|18|259|259|2|2|2
25             28                   11|11|11|29|29|29
26             29                  2|2|124|251|192|47
27             30                             297|256
28             32                                 159
29             33      23|11|41|36|23|36|38|264|11|79
...           ...                                 ...
62453       28570                                 270
62454       28572                                 174
62455       12189                                  78
62456       28574                           111|84|84
62457       28575                                 167
62458       28577  200|62|50|217|60|157|67|188|216|21
62459       28579                                  96
62460       28580                                 198
62461       28581                           62|62|107
62462       28583                                  99
62463       28585                         111|111|111
62464        1962                   107|29|104|104|11
62465       28590                                  72
62466       13299                            10|10|10
62467       28598                                 212
62468        2377                                 135
62469       28604                                 282
62470       28605                                  92
62471        6081                                 280
62472       12230                     175|292|191|191
62473       18375                                  67
62474       18379                       282|50|50|237
62475        8155                                 240
62476        8157                                 259
62477       14302     12|63|63|43|43|43|66|66|282|282
62478        4068                    103|103|8|48|126
62479       10918      124|37|37|78|124|124|37|8|35|8
62480        6119                                  24
62481        8171                                 167
62482        4095                                 150

[62483 rows x 2 columns]

In [4]:
transactions_data.head()

   customerId                        products
0           0                              20
1           1  2|2|23|68|68|111|29|86|107|152
2           2       111|107|29|11|11|11|33|23
3           3                         164|227
4           5                             2|2

In [36]:
transactions_df = transactions_data.copy()

In [37]:
transactions_df['products'] = transactions_df['products'].apply(lambda x: [int(i) for i in x.split('|')])
transactions_df.head(10).set_index('customerId')['products'].apply(pd.Series).reset_index()

,customerId,0,1,2,3,4,5,6,7,8,9
0,0,20.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,2.0,2.0,23.0,68.0,68.0,111.0,29.0,86.0,107.0,152.0
2,2,111.0,107.0,29.0,11.0,11.0,11.0,33.0,23.0,NaN,NaN
3,3,164.0,227.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,5,2.0,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,6,144.0,144.0,55.0,266.0,NaN,NaN,NaN,NaN,NaN,NaN
6,7,135.0,206.0,259.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,8,79.0,8.0,8.0,48.0,NaN,NaN,NaN,NaN,NaN,NaN
8,9,102.0,2.0,2.0,297.0,NaN,NaN,NaN,NaN,NaN,NaN
9,10,84.0,77.0,290.0,260.0,NaN,NaN,NaN,NaN,NaN,NaN

In [38]:
pd.melt(transactions_df.head(2).set_index('customerId')['products'].apply(pd.Series).reset_index(), 
             id_vars=['customerId'],
             value_name='products') \
    .dropna().drop(['variable'], axis=1) \
    .groupby(['customerId', 'products']) \
    .agg({'products': 'count'}) \
    .rename(columns={'products': 'purchase_count'}) \
    .reset_index() \
    .rename(columns={'products': 'productId'})

   customerId  productId  purchase_count
0           0       20.0               1
1           1        2.0               2
2           1       23.0               1
3           1       29.0               1
4           1       68.0               2
5           1       86.0               1
6           1      107.0               1
7           1      111.0               1
8           1      152.0               1

In [40]:
s=time.time()

df = pd.melt(transactions_df.set_index('customerId')['products'].apply(pd.Series).reset_index(), 
             id_vars=['customerId'],
             value_name='products') \
    .dropna().drop(['variable'], axis=1) \
    .groupby(['customerId', 'products']) \
    .agg({'products': 'count'}) \
    .rename(columns={'products': 'purchase_count'}) \
    .reset_index() \
    .rename(columns={'products': 'productId'})
df['productId'] = df['productId'].astype(np.int64)
print("Execution time:", round((time.time()-s)/60,2), "minutes")

Execution time: 0.35 minutes

In [42]:
df

        customerId  productId  purchase_count
0                0          1               2
1                0         13               1
2                0         19               3
3                0         20               1
4                0         31               2
5                0         52               1
6                0         69               2
7                0         93               3
8                0        136               2
9                0        157               1
10               0        198               1
11               0        216               1
12               0        255               2
13               0        256               1
14               0        260               5
15               1          2               6
16               1         23               1
17               1         25               1
18               1         29               1
19               1         61               2
20               1         68               2
21               1         86               3
22               1        107               1
23               1        111               1
24               1        122               1
25               1        135               1
26               1        146               1
27               1        151               3
28               1        152               3
29               1        216               1
...            ...        ...             ...
133555       28577         67               1
133556       28577        157               1
133557       28577        188               1
133558       28577        200               1
133559       28577        216               1
133560       28577        217               1
133561       28579         96               1
133562       28580        198               1
133563       28581         62               2
133564       28581        107               1
133565       28583         99               1
133566       28585        111               3
133567       28588         11               2
133568       28588         51               1
133569       28588        205               1
133570       28588        216               1
133571       28588        268               1
133572       28590         72               1
133573       28593         53               2
133574       28593        119               2
133575       28593        130               1
133576       28596         10               1
133577       28596         15               1
133578       28596         20               1
133579       28596         25               1
133580       28596        211               3
133581       28596        255               1
133582       28598        212               1
133583       28604        282               1
133584       28605         92               1

[133585 rows x 3 columns]

In [44]:
df['purchase_count'].unique()

array([ 2,  1,  3,  5,  6,  9,  4, 11,  7,  8, 30, 10, 13, 23, 14, 18, 21,
       15, 17, 20, 12, 42, 28, 16, 31, 19, 24, 25, 64, 75, 46, 27, 57, 22])

In [47]:
def create_dummies(df, feature_label):
    dummies = pd.get_dummies(df[feature_label], prefix=feature_label, drop_first=True)
    df = pd.concat([df, dummies], axis=1)
    df = df.drop([feature_label], axis=1)
    return df

In [50]:
data_dummy = create_dummies(df, 'purchase_count')

In [51]:
data_dummy

,customerId,productId,purchase_count_2,purchase_count_3,purchase_count_4,purchase_count_5,purchase_count_6,purchase_count_7,purchase_count_8,purchase_count_9,...,purchase_count_25,purchase_count_27,purchase_count_28,purchase_count_30,purchase_count_31,purchase_count_42,purchase_count_46,purchase_count_57,purchase_count_64,purchase_count_75
0,0,1,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,13,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,19,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,20,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,31,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
5,0,52,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
6,0,69,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
7,0,93,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
8,0,136,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
9,0,157,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
10,0,198,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
11,0,216,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
12,0,255,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
13,0,256,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
14,0,260,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
15,1,2,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
16,1,23,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
17,1,25,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
18,1,29,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
19,1,61,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
20,1,68,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
21,1,86,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
22,1,107,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
23,1,111,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
24,1,122,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
25,1,135,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
26,1,146,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
27,1,151,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
28,1,152,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
29,1,216,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
133555,28577,67,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
133556,28577,157,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
133557,28577,188,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
133558,28577,200,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
133559,28577,216,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
133560,28577,217,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
133561,28579,96,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
133562,28580,198,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
133563,28581,62,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
133564,28581,107,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
133565,28583,99,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
133566,28585,111,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
133567,28588,11,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
133568,28588,51,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
133569,28588,205,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
133570,28588,216,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
133571,28588,268,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
133572,28590,72,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
133573,28593,53,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
133574,28593,119,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
133575,28593,130,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
133576,28596,10,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
133577,28596,15,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
133578,28596,20,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
133579,28596,25,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
133580,28596,211,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
133581,28596,255,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
133582,28598,212,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
133583,28604,282,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
133584,28605,92,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [54]:
train_data_dummy

Columns:
	customerId	int
	productId	int
	purchase_count_2	int
	purchase_count_3	int
	purchase_count_4	int
	purchase_count_5	int
	purchase_count_6	int
	purchase_count_7	int
	purchase_count_8	int
	purchase_count_9	int
	purchase_count_10	int
	purchase_count_11	int
	purchase_count_12	int
	purchase_count_13	int
	purchase_count_14	int
	purchase_count_15	int
	purchase_count_16	int
	purchase_count_17	int
	purchase_count_18	int
	purchase_count_19	int
	purchase_count_20	int
	purchase_count_21	int
	purchase_count_22	int
	purchase_count_23	int
	purchase_count_24	int
	purchase_count_25	int
	purchase_count_27	int
	purchase_count_28	int
	purchase_count_30	int
	purchase_count_31	int
	purchase_count_42	int
	purchase_count_46	int
	purchase_count_57	int
	purchase_count_64	int
	purchase_count_75	int

Rows: 106868

Data:
+------------+-----------+------------------+------------------+------------------+
| customerId | productId | purchase_count_2 | purchase_count_3 | purchase_count_4 |
+------------+-----------+------------------+------------------+------------------+
|   19324    |     1     |        1         |        0         |        0         |
|   22065    |     33    |        0         |        0         |        0         |
|   25023    |    213    |        0         |        0         |        0         |
|   12911    |     95    |        1         |        0         |        0         |
|    6443    |    258    |        1         |        0         |        0         |
|    1350    |    262    |        1         |        0         |        0         |
|   11015    |    102    |        0         |        0         |        0         |
|   17638    |     45    |        0         |        0         |        0         |
|    1109    |     84    |        1         |        0         |        0         |
|   17424    |    150    |        0         |        0         |        0         |
+------------+-----------+------------------+------------------+------------------+
+------------------+------------------+------------------+------------------+------------------+
| purchase_count_5 | purchase_count_6 | purchase_count_7 | purchase_count_8 | purchase_count_9 |
+------------------+------------------+------------------+------------------+------------------+
|        0         |        0         |        0         |        0         |        0         |
|        0         |        0         |        0         |        0         |        0         |
|        0         |        0         |        0         |        0         |        0         |
|        0         |        0         |        0         |        0         |        0         |
|        0         |        0         |        0         |        0         |        0         |
|        0         |        0         |        0         |        0         |        0         |
|        0         |        0         |        0         |        0         |        0         |
|        0         |        0         |        0         |        0         |        0         |
|        0         |        0         |        0         |        0         |        0         |
|        0         |        0         |        0         |        0         |        0         |
+------------------+------------------+------------------+------------------+------------------+
+-------------------+-------------------+-------------------+-------------------+
| purchase_count_10 | purchase_count_11 | purchase_count_12 | purchase_count_13 |
+-------------------+-------------------+-------------------+-------------------+
|         0         |         0         |         0         |         0         |
|         0         |         0         |         0         |         0         |
|         0         |         0         |         0         |         0         |
|         0         |         0         |         0         |         0         |
|         0         |         0         |         0         |         0         |
|         0         |         0         |         0         |         0         |
|         0         |         0         |         0         |         0         |
|         0         |         0         |         0         |         0         |
|         0         |         0         |         0         |         0         |
|         0         |         0         |         0         |         0         |
+-------------------+-------------------+-------------------+-------------------+
+-------------------+-------------------+-------------------+-------------------+
| purchase_count_14 | purchase_count_15 | purchase_count_16 | purchase_count_17 |
+-------------------+-------------------+-------------------+-------------------+
|         0         |         0         |         0         |         0         |
|         0         |         0         |         0         |         0         |
|         0         |         0         |         0         |         0         |
|         0         |         0         |         0         |         0         |
|         0         |         0         |         0         |         0         |
|         0         |         0         |         0         |         0         |
|         0         |         0         |         0         |         0         |
|         0         |         0         |         0         |         0         |
|         0         |         0         |         0         |         0         |
|         0         |         0         |         0         |         0         |
+-------------------+-------------------+-------------------+-------------------+
+-------------------+-------------------+-----+
| purchase_count_18 | purchase_count_19 | ... |
+-------------------+-------------------+-----+
|         0         |         0         | ... |
|         0         |         0         | ... |
|         0         |         0         | ... |
|         0         |         0         | ... |
|         0         |         0         | ... |
|         0         |         0         | ... |
|         0         |         0         | ... |
|         0         |         0         | ... |
|         0         |         0         | ... |
|         0         |         0         | ... |
+-------------------+-------------------+-----+
[106868 rows x 35 columns]
Note: Only the head of the SFrame is printed.
You can use print_rows(num_rows=m, num_columns=n) to print more rows and columns.

In [58]:
from sklearn.base import BaseEstimator, TransformerMixin
from sklearn.preprocessing import StandardScaler

class CustomScalar(BaseEstimator, TransformerMixin):
    def __init__(self, columns, copy=True, with_mean=True, with_std=True):
        self.scalar = StandardScaler(copy, with_mean, with_std)
        self.columns = columns
        self.mean_ = None
        self.var_ = None

    def fit(self, X, y=None):
        self.scalar.fit(X[self.columns], y)
        self.mean_ = np.mean(X[self.columns])
        self.var_ = np.var(X[self.columns])
        return self
    
    def transform(self, X, y=None, copy=None):
        init_col_order = X.columns
        X_scaled = pd.DataFrame(self.scalar.transform(X[self.columns]), columns=self.columns)
        X_not_scaled = X.loc[:, ~X.columns.isin(self.columns)]
        return pd.concat([X_not_scaled, X_scaled], axis=1)[init_col_order]

In [62]:
unscalled_inputs = df.copy()

In [59]:
columns_to_scale = ['purchase_count']

In [60]:
scalar = CustomScalar(columns_to_scale)

In [65]:
scaled_df = scalar.fit_transform(unscalled_inputs)

In [67]:
def split_data(data):
    '''
    Splits dataset into training and test set.
    
    Args:
        data (pandas.DataFrame)
        
    Returns
        train_data (tc.SFrame)
        test_data (tc.SFrame)
    '''
    train, test = train_test_split(data, test_size = .2)
    train_data = tc.SFrame(train)
    test_data = tc.SFrame(test)
    return train_data, test_data

In [69]:
train_data_scalled, test_data_scalled = split_data(scaled_df)

In [70]:
user_id = 'customerId'
item_id = 'productId'
target = 'purchase_count'
users_to_recommend = list(scaled_df[user_id])
n_rec = 10 # number of items to recommend
n_display = 30

In [74]:
# Since turicreate is very accessible library, we can define a model selection function as below

def model(train_data, name, user_id, item_id, target, users_to_recommend, n_rec, n_display):
    if name == 'popularity':
        model = tc.popularity_recommender.create(train_data, 
                                                    user_id=user_id, 
                                                    item_id=item_id, 
                                                    target=target)
    elif name == 'cosine':
        model = tc.item_similarity_recommender.create(train_data, 
                                                    user_id=user_id, 
                                                    item_id=item_id, 
                                                    target=target, 
                                                    similarity_type='cosine')
    elif name == 'pearson':
        model = tc.item_similarity_recommender.create(train_data, 
                                                    user_id=user_id, 
                                                    item_id=item_id, 
                                                    target=target, 
                                                    similarity_type='pearson')
        
    recom = model.recommend(users=users_to_recommend, k=n_rec)
    recom.print_rows(n_display)
    return model

In [75]:
name = 'cosine'
cos = model(train_data_scalled, name, user_id, item_id, target, users_to_recommend, n_rec, n_display)

Preparing data set.

    Data has 106868 observations with 23256 users and 300 items.

    Data prepared in: 0.251376s

Training model from provided data.

Gathering per-item and per-user statistics.

+--------------------------------+------------+

| Elapsed Time (Item Statistics) | % Complete |

+--------------------------------+------------+

| 1.749ms                        | 4.25       |

| 7.123ms                        | 100        |

+--------------------------------+------------+

Setting up lookup tables.

Processing data in one pass using dense lookup tables.

+-------------------------------------+------------------+-----------------+

| Elapsed Time (Constructing Lookups) | Total % Complete | Items Processed |

+-------------------------------------+------------------+-----------------+

| 9.242ms                             | 0                | 0               |

| 21.984ms                            | 100              | 300             |

+-------------------------------------+------------------+-----------------+

Finalizing lookup tables.

Generating candidate set for working with new users.

Finished training in 1.03673s

recommendations finished on 1000/133585 queries. users per second: 80723.3

recommendations finished on 2000/133585 queries. users per second: 93751.5

recommendations finished on 3000/133585 queries. users per second: 48441.8

recommendations finished on 4000/133585 queries. users per second: 54560.6

recommendations finished on 5000/133585 queries. users per second: 59279.6

recommendations finished on 6000/133585 queries. users per second: 61048.2

recommendations finished on 7000/133585 queries. users per second: 63084.7

recommendations finished on 8000/133585 queries. users per second: 64985.7

recommendations finished on 9000/133585 queries. users per second: 68578.7

recommendations finished on 10000/133585 queries. users per second: 71582

recommendations finished on 11000/133585 queries. users per second: 68847.7

recommendations finished on 12000/133585 queries. users per second: 56790.2

recommendations finished on 13000/133585 queries. users per second: 56700.7

recommendations finished on 14000/133585 queries. users per second: 57940.8

recommendations finished on 15000/133585 queries. users per second: 59942.9

recommendations finished on 16000/133585 queries. users per second: 56952.5

recommendations finished on 17000/133585 queries. users per second: 58236.9

recommendations finished on 18000/133585 queries. users per second: 59091.2

recommendations finished on 19000/133585 queries. users per second: 59133.1

recommendations finished on 20000/133585 queries. users per second: 59282.4

recommendations finished on 21000/133585 queries. users per second: 60742.8

recommendations finished on 22000/133585 queries. users per second: 53511.4

recommendations finished on 23000/133585 queries. users per second: 54805.1

recommendations finished on 24000/133585 queries. users per second: 55353

recommendations finished on 25000/133585 queries. users per second: 52880.6

recommendations finished on 26000/133585 queries. users per second: 52728.9

recommendations finished on 27000/133585 queries. users per second: 53330

recommendations finished on 28000/133585 queries. users per second: 53900.6

recommendations finished on 29000/133585 queries. users per second: 51600.4

recommendations finished on 30000/133585 queries. users per second: 51451.9

recommendations finished on 31000/133585 queries. users per second: 52432.8

recommendations finished on 32000/133585 queries. users per second: 53442.7

recommendations finished on 33000/133585 queries. users per second: 54387.8

recommendations finished on 34000/133585 queries. users per second: 55063.2

recommendations finished on 35000/133585 queries. users per second: 55686.1

recommendations finished on 36000/133585 queries. users per second: 53039.1

recommendations finished on 37000/133585 queries. users per second: 53453.1

recommendations finished on 38000/133585 queries. users per second: 54068

recommendations finished on 39000/133585 queries. users per second: 54719.4

recommendations finished on 40000/133585 queries. users per second: 54570.5

recommendations finished on 41000/133585 queries. users per second: 49884.2

recommendations finished on 42000/133585 queries. users per second: 49952.8

recommendations finished on 43000/133585 queries. users per second: 50486.5

recommendations finished on 44000/133585 queries. users per second: 51173.3

recommendations finished on 45000/133585 queries. users per second: 51062.7

recommendations finished on 46000/133585 queries. users per second: 51411.5

recommendations finished on 47000/133585 queries. users per second: 51799.3

recommendations finished on 48000/133585 queries. users per second: 52188.7

recommendations finished on 49000/133585 queries. users per second: 50873.8

recommendations finished on 50000/133585 queries. users per second: 51428.8

recommendations finished on 51000/133585 queries. users per second: 51856.4

recommendations finished on 52000/133585 queries. users per second: 52277.7

recommendations finished on 53000/133585 queries. users per second: 51759.4

recommendations finished on 54000/133585 queries. users per second: 50691.4

recommendations finished on 55000/133585 queries. users per second: 51258.2

recommendations finished on 56000/133585 queries. users per second: 51496.9

recommendations finished on 57000/133585 queries. users per second: 51937.4

recommendations finished on 58000/133585 queries. users per second: 52492.5

recommendations finished on 59000/133585 queries. users per second: 53112.1

recommendations finished on 60000/133585 queries. users per second: 53424

recommendations finished on 61000/133585 queries. users per second: 53547.7

recommendations finished on 62000/133585 queries. users per second: 53709.1

recommendations finished on 63000/133585 queries. users per second: 53121.7

recommendations finished on 64000/133585 queries. users per second: 53634.4

recommendations finished on 65000/133585 queries. users per second: 53667.5

recommendations finished on 66000/133585 queries. users per second: 53771.9

recommendations finished on 67000/133585 queries. users per second: 54019.4

recommendations finished on 68000/133585 queries. users per second: 54244.6

recommendations finished on 69000/133585 queries. users per second: 54435.1

recommendations finished on 70000/133585 queries. users per second: 54425.1

recommendations finished on 71000/133585 queries. users per second: 54260.8

recommendations finished on 72000/133585 queries. users per second: 54343.3

recommendations finished on 73000/133585 queries. users per second: 54534

recommendations finished on 74000/133585 queries. users per second: 55045.2

recommendations finished on 75000/133585 queries. users per second: 55497

recommendations finished on 76000/133585 queries. users per second: 55938.9

recommendations finished on 77000/133585 queries. users per second: 56334.4

recommendations finished on 78000/133585 queries. users per second: 56661

recommendations finished on 79000/133585 queries. users per second: 56295.9

recommendations finished on 80000/133585 queries. users per second: 56240.2

recommendations finished on 81000/133585 queries. users per second: 56431.5

recommendations finished on 82000/133585 queries. users per second: 56769.1

recommendations finished on 83000/133585 queries. users per second: 56830.2

recommendations finished on 84000/133585 queries. users per second: 57168.8

recommendations finished on 85000/133585 queries. users per second: 57618.8

recommendations finished on 86000/133585 queries. users per second: 57622.6

recommendations finished on 87000/133585 queries. users per second: 56628.3

recommendations finished on 88000/133585 queries. users per second: 57076.4

recommendations finished on 89000/133585 queries. users per second: 57174.1

recommendations finished on 90000/133585 queries. users per second: 57281.1

recommendations finished on 91000/133585 queries. users per second: 57635.3

recommendations finished on 92000/133585 queries. users per second: 57793.5

recommendations finished on 93000/133585 queries. users per second: 57975

recommendations finished on 94000/133585 queries. users per second: 58204.9

recommendations finished on 95000/133585 queries. users per second: 58393.1

recommendations finished on 96000/133585 queries. users per second: 58518.5

recommendations finished on 97000/133585 queries. users per second: 58618

recommendations finished on 98000/133585 queries. users per second: 58737.5

recommendations finished on 99000/133585 queries. users per second: 58678.7

recommendations finished on 100000/133585 queries. users per second: 58837.8

recommendations finished on 101000/133585 queries. users per second: 59096.4

recommendations finished on 102000/133585 queries. users per second: 59296.5

recommendations finished on 103000/133585 queries. users per second: 59605.7

recommendations finished on 104000/133585 queries. users per second: 59940.9

recommendations finished on 105000/133585 queries. users per second: 60268.6

recommendations finished on 106000/133585 queries. users per second: 60540.2

recommendations finished on 107000/133585 queries. users per second: 60617.2

recommendations finished on 108000/133585 queries. users per second: 60853.7

recommendations finished on 109000/133585 queries. users per second: 61151.1

recommendations finished on 110000/133585 queries. users per second: 61255.7

recommendations finished on 111000/133585 queries. users per second: 60857

recommendations finished on 112000/133585 queries. users per second: 60871.1

recommendations finished on 113000/133585 queries. users per second: 61171.9

recommendations finished on 114000/133585 queries. users per second: 61029.2

recommendations finished on 115000/133585 queries. users per second: 60959.6

recommendations finished on 116000/133585 queries. users per second: 60835.7

recommendations finished on 117000/133585 queries. users per second: 61154.6

recommendations finished on 118000/133585 queries. users per second: 61297.8

recommendations finished on 119000/133585 queries. users per second: 61505.5

recommendations finished on 120000/133585 queries. users per second: 61618.1

recommendations finished on 121000/133585 queries. users per second: 61580.9

recommendations finished on 122000/133585 queries. users per second: 61883.7

recommendations finished on 123000/133585 queries. users per second: 61814.2

recommendations finished on 124000/133585 queries. users per second: 61744.7

recommendations finished on 125000/133585 queries. users per second: 61625.6

recommendations finished on 126000/133585 queries. users per second: 60296.8

recommendations finished on 127000/133585 queries. users per second: 60228.1

recommendations finished on 128000/133585 queries. users per second: 60269.1

recommendations finished on 129000/133585 queries. users per second: 59905

recommendations finished on 130000/133585 queries. users per second: 59057.4

recommendations finished on 131000/133585 queries. users per second: 57557.7

recommendations finished on 132000/133585 queries. users per second: 56784.1

recommendations finished on 133000/133585 queries. users per second: 56035.7

+------------+-----------+-----------------------+------+
| customerId | productId |         score         | rank |
+------------+-----------+-----------------------+------+
|     0      |    248    |  0.01345472534497579  |  1   |
|     0      |    137    |  0.009817779064178467 |  2   |
|     0      |     73    |  0.008232211073239645 |  3   |
|     0      |    186    |  0.00813913345336914  |  4   |
|     0      |     43    | 0.0073691656192143755 |  5   |
|     0      |     2     |  0.00702752669652303  |  6   |
|     0      |    230    | 0.0070043206214904785 |  7   |
|     0      |     47    | 0.0068231721719106036 |  8   |
|     0      |     89    |  0.006513054172197978 |  9   |
|     0      |    225    |  0.006312519311904907 |  10  |
|     0      |    248    |  0.01345472534497579  |  1   |
|     0      |    137    |  0.009817779064178467 |  2   |
|     0      |     73    |  0.008232211073239645 |  3   |
|     0      |    186    |  0.00813913345336914  |  4   |
|     0      |     43    | 0.0073691656192143755 |  5   |
|     0      |     2     |  0.00702752669652303  |  6   |
|     0      |    230    | 0.0070043206214904785 |  7   |
|     0      |     47    | 0.0068231721719106036 |  8   |
|     0      |     89    |  0.006513054172197978 |  9   |
|     0      |    225    |  0.006312519311904907 |  10  |
|     0      |    248    |  0.01345472534497579  |  1   |
|     0      |    137    |  0.009817779064178467 |  2   |
|     0      |     73    |  0.008232211073239645 |  3   |
|     0      |    186    |  0.00813913345336914  |  4   |
|     0      |     43    | 0.0073691656192143755 |  5   |
|     0      |     2     |  0.00702752669652303  |  6   |
|     0      |    230    | 0.0070043206214904785 |  7   |
|     0      |     47    | 0.0068231721719106036 |  8   |
|     0      |     89    |  0.006513054172197978 |  9   |
|     0      |    225    |  0.006312519311904907 |  10  |
+------------+-----------+-----------------------+------+
[1335850 rows x 4 columns]

In [73]:
popularity_model

Class                            : PopularityRecommender

Schema
------
User ID                          : customerId
Item ID                          : productId
Target                           : purchase_count
Additional observation features  : 0
User side features               : []
Item side features               : []

Statistics
----------
Number of observations           : 106868
Number of users                  : 23256
Number of items                  : 300

Training summary
----------------
Training time                    : 0.01

Model Parameters
----------------
Model class                      : PopularityRecommender

In [79]:
users_to_recommend = list(customer_data[user_id])

final_model = tc.item_similarity_recommender.create(tc.SFrame(scaled_df), 
                                            user_id=user_id, 
                                            item_id=item_id, 
                                            target='purchase_count', 
                                            similarity_type='cosine')

recom = final_model.recommend(users=users_to_recommend, k=n_rec)
recom.print_rows(n_display)

Preparing data set.

    Data has 133585 observations with 24429 users and 300 items.

    Data prepared in: 0.1885s

Training model from provided data.

Gathering per-item and per-user statistics.

+--------------------------------+------------+

| Elapsed Time (Item Statistics) | % Complete |

+--------------------------------+------------+

| 991us                          | 4          |

| 23.038ms                       | 100        |

+--------------------------------+------------+

Setting up lookup tables.

Processing data in one pass using dense lookup tables.

+-------------------------------------+------------------+-----------------+

| Elapsed Time (Constructing Lookups) | Total % Complete | Items Processed |

+-------------------------------------+------------------+-----------------+

| 27.736ms                            | 0                | 0               |

| 62.84ms                             | 100              | 300             |

+-------------------------------------+------------------+-----------------+

Finalizing lookup tables.

Generating candidate set for working with new users.

Finished training in 0.080226s

recommendations finished on 1000/1000 queries. users per second: 63678

+------------+-----------+-----------------------+------+
| customerId | productId |         score         | rank |
+------------+-----------+-----------------------+------+
|    1553    |     73    |          0.0          |  1   |
|    1553    |     48    |          0.0          |  2   |
|    1553    |     21    |          0.0          |  3   |
|    1553    |    259    |          0.0          |  4   |
|    1553    |    149    |          0.0          |  5   |
|    1553    |    296    |          0.0          |  6   |
|    1553    |    274    |          0.0          |  7   |
|    1553    |    255    |          0.0          |  8   |
|    1553    |     52    |          0.0          |  9   |
|    1553    |    136    |          0.0          |  10  |
|   20400    |     23    |          0.0          |  1   |
|   20400    |     2     |          0.0          |  2   |
|   20400    |    260    |          0.0          |  3   |
|   20400    |    256    |          0.0          |  4   |
|   20400    |    198    |          0.0          |  5   |
|   20400    |    157    |          0.0          |  6   |
|   20400    |    136    |          0.0          |  7   |
|   20400    |     13    |          0.0          |  8   |
|   20400    |     69    |          0.0          |  9   |
|   20400    |     1     |          0.0          |  10  |
|   19750    |    225    |  0.003842264413833618 |  1   |
|   19750    |    222    | 0.0015763739744822185 |  2   |
|   19750    |    248    |  0.001394738753636678 |  3   |
|   19750    |    254    | 0.0013261735439300537 |  4   |
|   19750    |    208    | 0.0013244450092315674 |  5   |
|   19750    |    119    | 0.0009598334630330404 |  6   |
|   19750    |     99    | 0.0008495549360911051 |  7   |
|   19750    |    212    | 0.0007296204566955566 |  8   |
|   19750    |    237    | 0.0007201135158538818 |  9   |
|   19750    |     74    |  0.000700304905573527 |  10  |
+------------+-----------+-----------------------+------+
[10000 rows x 4 columns]